doctype html
html
    head
        base(href="/")
        title=process.env.app_name
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        app
            div.loader--container
                div.loader--core
                    div.loader--dot
                    div.loader--dot
                    div.loader--dot
                    div.loader--dot
                    div.loader--dot
                    div.loader--dot
                    div.loader--text