<div class="ui container">
    <h1 class="ui header">Importation d'un nouveau projet
        <div class="sub header">Permet d'importer un nouveau projet afin de pouvoir le gérer par la suite.</div>
    </h1>
    <div class="ui divider"></div>

    <div class="ui form">
        <div [ngClass]="{'active': loading}" class="ui inverted dimmer">
            <div class="ui text loader">Loading</div>
        </div>
        <div class="ui stackable grid">
            <div class="twelve wide column">
                <div class="field">
                    <input #inputUrlGithub name="url_github" placeholder="URL Github" type="text">
                </div>
            </div>
            <div class="four wide column">
                <button (click)="onGetInformations(inputUrlGithub.value)" class="ui fluid primary button">Récupérer les informations</button>
            </div>
        </div>
    </div>
    <div class="ui basic segment">
        <pre><code><div *ngFor="let out of sessionService.stdout">{{out}}</div></code></pre>
    </div>
</div>