<app-title [text]="'Référentiel utilisateur'">
    Ecran de gestion du référentiel des utilisateurs
</app-title>
<table class="ui table">
    <thead>
    <tr>
        <th>Avatar</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>E-mail</th>
        <th>Profession</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
        <td><img [attr.src]="user.avatar"></td>
        <td>{{user.lastname}}</td>
        <td>{{user.firstname}}</td>
        <td>{{user.email}}</td>
        <td>{{user.job}}</td>
    </tr>
    </tbody>
</table>