<app-title [text]="'Liste des projets'">
    Liste des projets déjà importés
</app-title>
<div class="ui inverted dimmer" [ngClass]="{'active' : loading}">
            <div class="ui tiny text loader">En cours</div>
        </div>

        <div class="ui form">
            <div class="ui stackable two column grid">
                <div class="column">
                    <div class="field">
                        <label for="repository">Dépôt</label>
                        <select id="repository" sui-dropdown class="ui dropdown" (ngModelChange)="getProjects($event)">
                            <option value="">Dépôt</option>
                            <option *ngFor="let r of lists.repository;let i = index" [attr.value]="i">{{r}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="column">
                    <div class="field" [ngClass]="{disabled : !lists.project || lists.project.length < 1}">
                        <label for="project">Projet</label>
                        <select id="project" sui-dropdown class="ui dropdown" (ngModelChange)="onProjectSelected($event)">
                            <option value="">Projet</option>
                            <option *ngFor="let p of lists.project;let i = index" [attr.value]="i">{{p}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

<div *ngIf="selections.project">

            <div class="ui divider"></div>

            <div class="ui pointing secondary menu">
                <a sui-tab="informations" class="item active">Informations</a>
                <a sui-tab="deploiement" class="item">Déploiement</a>
                <a sui-tab="monitoring" class="item">Monitoring</a>
                <a sui-tab="logs" class="item">Logs</a>
            </div>

            <div class="ui active tab" data-tab="informations">
                <div class="ui relaxed divided list">
                    <div class="item">
                        <div class="header">Owner</div>
                        {{selections.project.owner?.login}} ({{selections.project.owner?.name}})
                    </div>
                    <div class="item">
                        <div class="header">Description</div>
                        {{selections.project.informations?.description || 'Aucune'}}
                    </div>
                </div>
            </div>

            <div class="ui tab" data-tab="deploiement">
                <div class="ui form">
                    <div class="ui stackable grid">
                        <div class="fourteen wide column">
                            <div class="field">
                                <select id="npm_scripts" sui-dropdown class="ui action dropdown" [(ngModel)]="selections.script">
                                    <option value="">Script NPM</option>
                                    <option *ngFor="let s of selections.project.scripts;let i = index" [attr.value]="i">
                                        {{s}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="two wide column">
                            <button (click)="executeScript()" class="ui fluid primary button">Executer</button>
                        </div>
                    </div>

                </div>
                <div class="ui basic segment">
                    <pre style="height: 400px"><code><div *ngFor="let line of output">{{line}}</div></code></pre>
                </div>
            </div>

            <div class="ui tab" data-tab="monitoring">
                Monitoring
            </div>

            <div class="ui tab" data-tab="logs">
                Logs
            </div>
        </div>